# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest & Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs & Screenshots
*.log
reports/screenshots/*.png

# Environments
.env
.venv
env/
venv/
ENV/

# IDE files
.vscode/
.idea/
